* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.page-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.page-container > *  {
    padding: 30px;
}

.sidebar {
    color: white;
    grid-row: 1 / 3;
    background-color: black;

    display: flex;
    flex-direction: column;
    gap: 80px;
   
}

#logo {
    height:50px;
}

.dash-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*.dash-bar h1 {
    color: white; 
}

h2 {
    color: white;
}
*/

.main-sidebar,
.settings-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-side-icon,
.settings-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

svg {
    fill: white;
    height: 30px;
}

.topbar {
    padding: 5px;
    display: grid;
    grid-template-rows: 1.3fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.searchbar {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.search {
    height: 50%;
    width: 100%;
    padding-left: 30px;
    border-radius: 20px;
}

.topbar svg {
    fill: black;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
    gap: 30px;
}

.navbar-logo {
    height: 50px;
}

.profilebar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile-photo {
    height: 50px;
}

.buttonbar {
    grid-column: 2/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    gap: 50px;
}

.buttonbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 130px;
    color: white;
    background-color: black;
    padding: 20px;
    border: 0px;
    border-radius: 20px; 
}

.main-container {
    height: 100%;
    display: flex;
    padding-bottom: 60px;
}

.main-content {
    padding: 20px;
    padding-top: 10px;
    flex: 3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;   
}

.main-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid var(--matrix);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.main-card:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.main-content {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: wrap;
    overflow: hidden;
}

.main-card-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.main-card-buttons svg {
    fill: black;
    cursor: pointer;
}

.main-card-buttons svg:hover {
    transform: scale(1.1);
}





