* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.page-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.page-container > *  {
    padding: 30px;
}

.sidebar {
    color: white;
    grid-row: 1 / 3;
    background-color: black;

    display: flex;
    flex-direction: column;
    gap: 80px;
   
}

#logo {
    height:50px;
}

.dash-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*.dash-bar h1 {
    color: white; 
}

h2 {
    color: white;
}
*/

.main-sidebar,
.settings-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-side-icon,
.settings-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

svg {
    fill: white;
    height: 30px;
}

.topbar {
    padding: 5px;
    display: grid;
    grid-template-rows: 1.3fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.searchbar {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.search {
    height: 50%;
    width: 100%;
    padding-left: 30px;
    border-radius: 20px;
}

.topbar svg {
    fill: black;
}